<!doctype html>

<html class="home blog no-js" lang="en-US">
<head>
    <title>Fabric Management and Distribution System</title>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="print.css" type="text/css" media="print"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="/" title="Go to Home">FMDS</a>
            </div>
        </div><!-- /logo -->


        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="/">Home</a></li>
                        <li class="menu-item">
                            
                            <a href="/material">Material Production</a></li>
                            <li class="menu-item">
                            <a href="/tailor">Tailor</a></li>
                            <li class="menu-item">
                            <a href="/wholesaler">Wholesaler</a></li>
                            <li class="menu-item">
                            <a href="/retailer">Retailer</a></li>
                        <li class="menu-inline menu-item">
                            <a title="Twitter" href="#">
                                <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Facebook" href="#">
                                <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                        </li>
                        <li class="menu-inline menu-item">
                            <a title="Instagram" href="#">
                                <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </div>

</header>


<div class="hero" style="background-image: url('images/luxuryfashion2.jpg'); text-align:right;">
    <div class="hero-inner">
        <div class="inner">
            <h1><span class="border border-top border-bottom">FMDS</span></h1>
            <div class="hero-line-one"></div>
            <div class="hero-line-two"><span class="border border-bottom">Fabric Management & Distribution System</span></div>
        </div>

        <a class="more-arrow" href="#content"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>
\<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main main-archive">
            <div class="loop">


                <article class="post format-gallery post_format-post-format-gallery">
                    


                    <div class="inner">
                        

                        <h2 class="entry-title">
                            <a href="#"
                               title="Running through Chicago">
                                Fabric Management & Distribution System</a>
                        </h2>
                        <ul class="meta top">
                            <li class="time">
                                <a href="#">
                                   F
                                </a></li>

                            <li class="meta top">
                                <a href="#">M</a></li>

                            <li class="meta top">
                                <a href="#">D</a></li>
                                   <li class="meta top">
                                <a href="#">S</a></li>
                               
                        </ul>
                        <div class="post-content">
                            <p>For any industry it is very essential to have a cost effective and efficient distribution channel that adds value into whole value chain.
                                 Effective Distribution channel and Integrated Supply Chain Management help in growth of industry and make it more competitive. India 
                                 has large and diversified Textile Industry with different segments and sectors; therefore it has fragmented Sales and Distribution Network.</p>
                            <p><br>FMDS allow a method to tranck fabric materials such as Cotton, Silk, Nylon, Linen etcc produced or supplied by private agencies and later
                             then provided to Tailors or other production industries , where these raw-materials or fabric materials are processed into its final products such
                              as Shirts , pants , saree's etc... These goods in large quantities are then supplied to wholesale markets where these products are assesed acccordingly and further passed on to the retailer shops from which the end users can buy the...</p>
                              <p> The FMDS alllows to completely track and assses the distribution of fabric materials and thier usage throughout this supply chain system</p></blockquote>
                            
                        </div>


                        <ul class="meta bottom">


                            <li class="cat post-tags">Saved: <a
                                    href="#">Blog</a>,
                                <a href="#">Fitness</a>
                            </li>


                        </ul>

                    </div>
                    <a href="#"
                       title="Running through Chicago">
                        <div class="part-gallery">
                            <div class="flexslider">
                                <ul class="slides">

                                    <li><span class="post-image"><img src="images/Run-3.jpg"
                                                                      alt="Run-3"/></span></li>
                                    <li><span class="post-image"><img src="images/Run-1.jpeg"
                                                                      alt="Run-1"/></span></li>
                                    <li><span class="post-image"><img src="images/Run-2.jpg"
                                                                      alt="Run-2"/></span></li>
                                </ul>
                            </div>
                        </div>

                    </a>
                </article>



            </div>

<div class="home-sticky" id="content">

    <h2 class="home-sticky-title">Fashin Collections</h2>


    <div class="sticky-inner">

        <aside class="home-sticky-post post has-post-thumbnail sticky">

  		    <span class="post-image">
  				<a href="#">
  				<img width="402" height="402" src="images/shirt.jpeg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Shirts</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2015-02-02">Cotton,Linen</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">

            <span class="post-image">
  				<a href="#">
  				<img width="402" height="402" src="images/tshirts.jpeg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">T-Shirts</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#"
                           title="The Apothecary">
                            <time class="post-date updated" datetime="2015-01-31">Cotton,whool,nylon</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
        <aside class="home-sticky-post post has-post-thumbnail sticky ">

            <span class="post-image">
                <a href="#">
                    <img width="402" height="402" src="images/Dhothi.jpg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>


            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Dhothi</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2014-12-31">Cotton</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky">

  		    <span class="post-image">
                <a href="#">
                    <img width="402" height="402" src="images/Pants.jpg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Pants</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2015-01-25">Cotton</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

       <aside class="home-sticky-post post has-post-thumbnail sticky ">


  		    <span class="post-image">
                <a href="#">
                    <img width="402" height="402" src="images/Churidhar.jpg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
            </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Churidhar</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2015-01-02">Cotton,whool,nylon,linen</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
        

        
         <aside class="home-sticky-post post has-post-thumbnail sticky ">

  		    <span class="post-image">
                <a href="#"><img width="502" height="502" src="images/Saree.jpeg"
                     class="attachment-sticky size-sticky" alt=""/>
  				</a>
            </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Saree</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2015-01-21">Cotton,silk,nylon</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

    </div>


</div>


        </section>


    </div><!-- /main-wrap -->


</div><!-- /wrap -->


<div class="footer-widgets widget-count-4">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="images/about-me.jpg" alt="Clare Itsy"/>


                <h4>FMDS .pvt ltd</h4>

                <div class="mt-about-bio">
                    <p>Find out were your garments are actually from.....</p>
                </div>


            </div>
        </div>
        
        <div class="widget footer"><h4>Categories of Product</h4>
            <ul>
                <li class="cat-item cat-item-6">
                    <a href="#" >Shirt</a>
                </li>
                <li class="cat-item cat-item-7">
                    <a href="#" >Pants</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="#">T-shirt</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Dhothi</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Churidhar</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Saree</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Categories of Materials</h4>
            <ul>
                <li class="cat-item cat-item-6">
                    <a href="#" >Cotton</a>
                </li>
                <li class="cat-item cat-item-7">
                    <a href="#" >Whool</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="#">Silk</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Nylon</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Linen</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Thumbnail</h4>
            <div class="textwidget">
                <img src="images/gallery.jpg" alt="">
            </div>
        </div>
    </div>

</div>



<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">&copy; 2019 FMDS. Pvt ltd
           <br>
        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<script>var ie9 = false;</script>

<script src="js/global-plugins.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
