<!doctype html>
ss="home blog no-js" lang="en-US">

<head>
    <title>Materal Mangement</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" media="all" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
        type="text/css" media="screen" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />

    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>

</head>

<body class="home sticky-menu sidebar-off" id="top">

    <header class="header">

        <div class="header-wrap">

            <div class="logo plain logo-left">
                <div class="site-title">
                    <a href="/" title="Go to Home">FMDS</a>
                </div>
            </div><!-- /logo -->
                 <style>
                                       body{background-image: url("/images/color.jpg")}
                                   </style>

            <nav id="nav" role="navigation">
                <div class="table">
                    <div class="table-cell">
                        <ul id="menu-menu-1">
                            <li class="menu-item">
                                <a href="/">Home</a></li>
                            <li class="menu-item">

                                <a href="/material">Material Production</a></li>
                            <li class="menu-item">
                                <a href="/tailor">Tailor</a></li>
                            <li class="menu-item">
                                <a href="/wholesaler">Wholesaler</a></li>
                            <li class="menu-item">
                                <a href="/retailer">Retailer</a></li>
                            <li class="menu-inline menu-item">
                                <a title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Instagram" href="#">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

    </header>


    <div class="wrap full-wrap">
        <div class="main-wrap">

            <section class="main">
                <article class="post page">

                    <div class="inner">
                        <h1>Material Management</h1>
                        <div class="post-content">
                            <p><b>Material Production and Management</b></p>
                            <form id="fh5co_contact_form">
                                <p>
                                    <input type="text" name="Sid" value="" size="40" placeholder="Supplier ID">
                                </p>

                                <p>
                                    <input type="text" name="Mid" value="" size="40" placeholder="Material ID">
                                </p>
                                <p>
                                    <input type="text" id="privateagency" name="AgencyPrivateKey" class="form-control"
                                        placeholder="Agency Private Key" required />
                                </p>
                                <p>
                                    <input type="text" name="pid" value="" size="40" placeholder="Package ID">
                                </p>
                                <p>
                                    <div class="post-content"></div>
                                    <select name="materialtype" id="fh5co_contact_form" class="form-control"
                                        placeholder="Material Type" required />
                                    <option value="nil">Material Type</option>
                                    <option value="Cotton">Cotton</option>
                                    <option value="Whool">Whool</option>
                                    <option value="Silk">Silk</option>
                                    <option value="Nylon">Nylon</option>
                                    <option value="Linen">Linen</option>

                                    </select>
                        </div>
                        </p>
                        <p>
                            <div class="post-content">
                                <select name="materialweight" id="fh5co_contact_form" class="form-control"
                                    placeholder="Material Net Weight" required />
                                <option value="nil">Material Net Weight</option>
                                <option value="10kg">10kg</option>
                                <option value="20kg">20kg</option>
                                <option value="30kg">30kg</option>
                                <option value="40kg">40kg</option>
                                <option value="50kg">50kg</option>

                                </select>
                            </div>
                        </p>
                        <p>
                            <input type="text" id="dop" name="dateofpacking" class="form-control"
                                onfocus="(this.type='date')" placeholder="Date of Packing" required />
                        </p>
                        <p>
                            <select name="State" id="fromstate" class="form-control" aria-placeholder="State"
                                required />
                            <option value=" nil">Place of Origin</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Orissa">Orissa</option>
                            <option value="Pondicherry">Pondicherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttaranchal">Uttaranchal</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>

                            </select>
                        </p>
                        <p class="form-submit"><input type="submit" onclick="MaterialAdd(event)" value="Add Material">
                        </p>
                        </form>
                    </div>
        </div>

        </article>
        <div class="border"></div>

        </section>
    </div><!-- /main-wrap -->
    </div><!-- /wrap -->


    <div class="footer-widgets widget-count-4">

        <div class="wrap">

            <div class="widget footer">
                <h4>Categories of Materials</h4>
                <ul>
                    <li class="cat-item cat-item-6">
                        <a href="#">Cotton</a>
                    </li>
                    <li class="cat-item cat-item-7">
                        <a href="#">Whool</a>
                    </li>
                    <li class="cat-item cat-item-8">
                        <a href="#">Silk</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="#">Nylon</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="#">Linen</a>
                    </li>
                </ul>
            </div>
            <div class="widget footer">
                <h4>Materials</h4>
                <div class="textwidget">
                    <img src="images/gallery.jpg" alt="">
                </div>
            </div>
        </div>

    </div>


    <footer class="footer">
        <div class="footer-wrap">
            <div id="footer-text">&copy; 2019 FMDS. Pvt ltd
                <br>
                <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
            </div>
    </footer>

    <script>var ie9 = false;</script>

    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/core.js"></script>
</body>

</html>