<!doctype html>

<html class="home blog no-js" lang="en-US">

<head>
    <title>Retailer</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" media="all" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
        type="text/css" media="screen" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="home sticky-menu sidebar-off" id="top">

    <header class="header">

        <div class="header-wrap">

            <div class="logo plain logo-left">
                <div class="site-title">
                    <a href="/" title="Go to Home">FMDS</a>
                </div>
            </div><!-- /logo -->


            <nav id="nav" role="navigation">
                <div class="table">
                    <div class="table-cell">
                        <ul id="menu-menu-1">
                            <li class="menu-item">
                                <a href="/">Home</a></li>
                            <li class="menu-item">

                                <a href="/material">Material Production</a></li>
                            <li class="menu-item">
                                <a href="/tailor">Tailor</a></li>
                            <li class="menu-item">
                                <a href="/wholesaler">Wholesaler</a></li>
                            <li class="menu-item">
                                <a href="/retailer">Retailer</a></li>
                            <li class="menu-inline menu-item">
                                <a title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Instagram" href="#">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>

    </header>


    <div class="wrap full-wrap">
        <div class="main-wrap">
                 <style>
                                       body{background-image: url("/images/outlet.jpg")}
                                   </style>
            <section class="main">
                <article class="post page">

                    <div class="inner">
                        <h1>Retailer Outlets</h1>
                        <div class="post-content">
                            <p><b>Stock-tracking and Identifying Product Market Value</b></p>
                            <div class="row tm-white-box-margin-b">
                                <div class="col-xs-12">
                                    <div class="tm-flex">
                                        <div class="form-group">
                                            {{!-- <input type="text" id="place" name="place" class="form-control" placeholder="place"  required/> --}}
                                            <select name="sretailer" id="retailer" class="form-control"
                                                aria-placeholder="Zone" required />
                                            <option value="">Select Retailer StoreID</option>
                                            <option value="Retailer1">Retaile Outlet 1</option>
                                            <option value="Retailer2">Retaile Outlet 2</option>
                                            <option value="Retailer3">Retaile Outlet 3</option>
                                            <option value="Retailer4">Retaile Outlet 4</option>
                                            <option value="Retailer5">Retaile Outlet 5</option>

                                            </select>
                                            <p>
                                                <button type="submit" class="pull-xs-right tm-submit-btn"
                                                    onclick="getProducts(event)">View Stock</button>
                                            </p>
                                        </div>

                                    </div>
                                    <table>
                                        <thead>
                                            <th>
                                            <td>Package ID</td>
                                            <td>Product Name</td>
                                            <td>Weight</td>
                                            </th>
                                        </thead>
                                        <tbody id="productlist">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row tm-white-box-margin-b">
                                <div class="col-xs-12">
                                    <div class="tm-flex">
                                        <div
                                            class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                            <p>
                                                <p>
                                                    <h2 class="tm-text-title">Please enter the product id to know more.
                                                    </h2>
                                                </p>
                                            </p>


                                            <div class="tm-flex tm-contact-container">

                                                <div
                                                    class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">

                                                    <form class="tm-contact-form">
                                                        <div class="form-group">
                                                            {{!-- <input type="text" id="place" name="place" class="form-control" placeholder="place"  required/> --}}
                                                            <select name="retailer" id="retailerID" class="form-control"
                                                                aria-placeholder="Zone" required />
                                                            <option value="">Retailer StoreID</option>
                                                            <option value="Retailer1">Retaile Outlet 1</option>
                                                            <option value="Retailer2">Retaile Outlet 2</option>
                                                            <option value="Retailer3">Retaile Outlet 3</option>
                                                            <option value="Retailer4">Retaile Outlet 4</option>
                                                            <option value="Retailer5">Retaile Outlet 5</option>

                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <p>
                                                                <input type="text" id="privateRetailer"
                                                                    name="RetailerPrivateKey" class="form-control"
                                                                    placeholder="Retailer Private Key" required />
                                                            </p>
                                                        </div>

                                                        <div class="form-group">
                                                            <p>
                                                                <input type="text" name="pid" value="" size="40"
                                                                    placeholder="Package ID" required />
                                                            </p>
                                                        </div>
                                                        <div class="form-group">
                                                            <p>
                                                                <input type="text" name="Mid" value="" size="40"
                                                                    placeholder="Material ID">
                                                            </p>
                                                        </div>
                                                        <p>
                                                            <div class="post-content">
                                                                <select name="materialtype" id="fh5co_contact_form"
                                                                    class="form-control" placeholder="Material Type"
                                                                    required />
                                                                <option value="nil">Material Type</option>
                                                                <option value="Cotton">Cotton</option>
                                                                <option value="Whool">Whool</option>
                                                                <option value="Silk">Silk</option>
                                                                <option value="Nylon">Nylon</option>
                                                                <option value="Linen">Linen</option>

                                                                </select>
                                                            </div>
                                                        </p>
                                                        <p>
                                                            <button class="pull-xs-right tm-submit-btn"
                                                                onclick="Retrieve(event)">View Details</button>
                                                            <button class="pull-xs-right tm-submit-btn"
                                                                onclick="Delete(event)">Delete Product</button>
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                        <div
                                            class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                            <h2 class="tm-text-title">View the product details</h2>
                                            <p class="tm-text">
                                                <table>
                                                    <tr>
                                                        <td>Product </td>
                                                        <td><input type="text" id="tproduct" /></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Place of Origin </td>
                                                        <td><input type="text" id="torigin" /></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Date of Packing </td>
                                                        <td> <input type="text" id="tpacking"></input></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Package Arrival Date </td>
                                                        <td><input type="text" id="Tarrival" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Package Dispatch Date </td>
                                                        <td><input type="text" id="Tdispatch"></input></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wholesale Arrival Date </td>
                                                        <td><input type="text" id="Warrival"></input></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wholesale Dispatch Date </td>
                                                        <td><input type="text" id="Wdispatch"></input></td>
                                                    </tr>

                                                </table>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </article>
                <div class="border"></div>

            </section>
        </div><!-- /main-wrap -->
    </div><!-- /wrap -->


    <div class="footer-widgets widget-count-4">

        <div class="wrap">

            <div class="widget footer">
                <h4>Materials</h4>
                <div class="textwidget">
                    <img src="images/gallery.jpg" alt="">
                </div>
            </div>
        </div>

    </div>


    <footer class="footer">
        <div class="footer-wrap">
            <div id="footer-text">&copy; 2019 FMDS. Pvt ltd
                <br>
                <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
            </div>
    </footer>


    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/core.js"></script>
</body>

</html>