<!doctype html>

<html class="home blog no-js" lang="en-US">

<head>
    <title>Wholesaler</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" media="all" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
        type="text/css" media="screen" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="home sticky-menu sidebar-off" id="top">

    <header class="header">

        <div class="header-wrap">

            <div class="logo plain logo-left">
                <div class="site-title">
                    <a href="/" title="Go to Home">FMDS</a>
                </div>
            </div><!-- /logo -->


            <nav id="nav" role="navigation">
                <div class="table">
                    <div class="table-cell">
                        <ul id="menu-menu-1">
                            <li class="menu-item">
                                <a href="/">Home</a></li>
                            <li class="menu-item">

                                <a href="/material">Material Production</a></li>
                            <li class="menu-item">
                                <a href="/tailor">Tailor</a></li>
                            <li class="menu-item">
                                <a href="/wholesaler">Wholesaler</a></li>
                            <li class="menu-item">
                                <a href="/retailer">Retailer</a></li>
                            <li class="menu-inline menu-item">
                                <a title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                                </a></li>
                            <li class="menu-inline menu-item">
                                <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Instagram" href="#">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>

    </header>


    <div class="wrap full-wrap">
        <div class="main-wrap">
                <style>
                                       body{background-image: url("/images/wholesaler.jpg")}
                                   </style>
            <section class="main">
                <article class="post page">

                    <div class="inner">
                        <h1>Wholesaler</h1>
                        <div class="post-content">
                            <p><b>Wholesale Market Management</b></p>
                            <form id="fh5co_contact_form">
                                <p>
                                    <input type="text" name="Wid" value="" size="40" placeholder="Wholesaler ID">
                                </p>

                                <p>
                                    <input type="text" name="pid" value="" size="40" placeholder="Package ID">
                                </p>
                                <p>
                                    <input type="text" id="privateagency" name="WholesalePrivateKey"
                                        class="form-control" placeholder="Wholesaler Private Key" required />
                                </p>
                                <p>
                                    <input type="text" name="Prid" value="" size="40" placeholder="Product ID">
                                </p>
                                <p>
                                    <div class="post-content"></div>
                                    <select name="product" id="fh5co_contact_form" class="form-control"
                                        placeholder="Product Type" required />
                                    <option value="nil">Product</option>
                                    <option value="Shirt">Shirt</option>
                                    <option value="Pants">Pants</option>
                                    <option value="shirt">T-shirt</option>
                                    <option value="Dhothi">Dhothi</option>
                                    <option value="Churidhar">Churidhar</option>
                                    <option value="Saree">Saree</option>
                                    </select>
                        </div>

                        <p>
                            <input type="text" name="Mid" value="" size="40" placeholder="Material ID">
                        </p>
                        <p>
                            <div class="post-content"></div>
                            <select name="materialtype" id="fh5co_contact_form" class="form-control"
                                placeholder="Material Type" required />
                            <option value="nil">Material Type</option>
                            <option value="Cotton">Cotton</option>
                            <option value="Whool">Whool</option>
                            <option value="Silk">Silk</option>
                            <option value="Nylon">Nylon</option>
                            <option value="Linen">Linen</option>

                            </select>
                    </div>
                    </p>
                    <p>
                        <div class="post-content"></div>
                        <select name="productweight" id="fh5co_contact_form" class="form-control"
                            placeholder="Product Net Weight" required />
                        <option value="nil">Product Net Weight</option>
                        <option value="10kg">10kg</option>
                        <option value="20kg">20kg</option>
                        <option value="30kg">30kg</option>
                        <option value="40kg">40kg</option>
                        <option value="50kg">50kg</option>

                        </select>
        </div>
        </p>
        <p>
            <input type="text" id="Warrival" name="arrivaldate" class="form-control" onfocus="(this.type='date')"
                placeholder="Package Arrival date" required />
        </p>
        <p>
            <input type="text" id="Tdispatch" name="dispatchdate" class="form-control" onfocus="(this.type='date')"
                placeholder="Package Dispatch date" required />
        </p>

        <p>
            <select name="retailerid" id="retailerid" class="form-control" aria-placeholder="Retailer ID" required />
            <option value="Retailer1">Retailer 1</option>
            <option value="Retailer2">Retailer 2</option>
            <option value="Retailer3">Retailer 3</option>
            <option value="Retailer4">Retailer 4</option>
            <option value="Retailer5">Retailer 5</option>

            </select>
        </p>
        <p class="form-submit"><input type="submit" onclick="WholesalerAdd(event)" value="Add Data"></p>
        </form>
    </div>
    </div>

    </article>
    <div class="border"></div>

    </section>
    </div><!-- /main-wrap -->
    </div><!-- /wrap -->


    <div class="footer-widgets widget-count-4">

        <div class="wrap">

            <div class="widget footer">
                <h4>Categories of Product</h4>
                <ul>
                    <li class="cat-item cat-item-6">
                        <a href="#">Shirt</a>
                    </li>
                    <li class="cat-item cat-item-7">
                        <a href="#">Pants</a>
                    </li>
                    <li class="cat-item cat-item-8">
                        <a href="#">T-shirt</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="#">Dhothi</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="#">Churidhar</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="#">Saree</a>
                    </li>
                </ul>
            </div>
            <div class="widget footer">
                <h4>Materials</h4>
                <div class="textwidget">
                    <img src="images/gallery.jpg" alt="">
                </div>
            </div>
        </div>

    </div>


    <footer class="footer">
        <div class="footer-wrap">
            <div id="footer-text">&copy; 2019 FMDS. Pvt ltd
                <br>
                <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
            </div>
    </footer>


    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/core.js"></script>
</body>

</html>